<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding"> 

    <!-- <div>{{dym_content?.heading}}</div> -->
    <div [innerHtml]="dym_content?.content"></div>



    <!-- <div>
      <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
      <p>when an unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic and remaining anessentially unchanged. It was popularised the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
    </div> <br>

    <div>
      <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
      <p>when an unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic and remaining anessentially unchanged. It was popularised the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
    </div> <br>

    <div>
      <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
      <p>when an unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic and remaining anessentially unchanged. It was popularised the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
    </div> <br>

    <div>
      <h6>Lorem Ipsum is simply dummy text of the printing.</h6>
      <p>when an unknown printer took a galley of type scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic and remaining anessentially unchanged. It was popularised the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing.</p>
    </div> <br> -->


  </div>

</ion-content>
