
p{
    color:#666666;
    font-size: 14px;
}




ion-input{
    display: inline-block;
    border: 2px solid #E1E1E1;
    width: 52px;
    height: 52px;
    margin: 10px;
    border-radius: 10px;
    
    // --background:#e1e1e1;
    // --padding-start:7px;
    input{        
        height:100%;
    }
}

