<ion-tabs mode="md">
  <ion-tab-bar mode="md" slot="bottom" style="height: 75px;">
    <ion-tab-button tab="tab1">
      <!-- <ion-icon src="assets/lead1.svg"></ion-icon> -->
      <!-- <ion-icon src="assets/lead1.png"></ion-icon> -->
      <div class="img-outer"><img src="assets/lead1.png"></div>
      <ion-label>
        <ion-text>Lead</ion-text>
        <ion-text>Management</ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <ion-icon src="assets/cont2.svg"></ion-icon> -->
      <!-- <ion-icon src="assets/cont2.png"></ion-icon> -->
      <div class="img-outer"><img src="assets/cont2.png"></div>
      <ion-label>
        <ion-text>Controlled</ion-text>
        <ion-text>Inventory</ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"> 
      <!-- <ion-icon src="assets/book3.svg"></ion-icon> -->
      <!-- <ion-icon src="assets/book3.png"></ion-icon> -->
      <div class="img-outer"><img src="assets/book3.png"></div>
      <ion-label>
        <ion-text>Booking &</ion-text>
        <ion-text>Invoicing</ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <!-- <ion-icon src="assets/paym4.svg"></ion-icon> -->
      <!-- <ion-icon src="assets/paym4.png"></ion-icon> -->
      <div class="img-outer"><img src="assets/paym4.png"></div>
      <ion-label>
        <ion-text>Payments</ion-text>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
