<ion-content [fullscreen]="true">
  <div style="height:100%;background: URL('assets/img/splash/splash.png');  
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;">

     <ion-header class="ion-no-border"  style="--background:transparent;">
       <ion-toolbar  style="--background:transparent;">
         <ion-title class="ion-padding ion-text-center" style="color:#ffffff;font-size:26pt;">Purva Partners</ion-title>
       </ion-toolbar>
     </ion-header>
     <div style="position: absolute; top: 50%;left: 50%;
                 -ms-transform: translate(-50%, -50%);
                 transform: translate(-50%, -50%);width:auto;">
        <div>
          <div style="height: 4vh;"><img src="assets/img/splash/purava.png" style="height:100%; margin-left: -1px;"></div><br>
          <div style="height: 4vh;"><img src="assets/img/splash/provident.png" style="height:100%; margin-left: -36px;"></div><br>
          <div style="height: 4vh;"><img src="assets/img/splash/purvaLand.png" style="height:100%; margin-left: -5px;"></div>
        </div>
     </div>
  

  </div>

</ion-content>
