
  <div style="min-height: 200px;position:relative;">
    <div style="position: absolute;right: 0px;top: 0px;left: 0px">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="dark" (click)="dismiss()">
            <ion-icon name="close-sharp" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);width: 100%;text-align: center;padding: 10px;">
     <h6 style="line-height: 1.8;text-align: center">{{message}}</h6>
     <ion-text style="font-size: 12.5px;">Salesforce ID: {{salesforece}}</ion-text>
    </div>
  </div>




<!-- Lead has been auto approved by the system. -->

